footer.footer
    div.footer__logo-box
        img(src='img/logo-green.png', alt='Full logo')
    ul.footer__nav 
        li: a(href='#') Company
        li: a(href='#') Contact us
        li: a(href='#') Careers
        li: a(href='#') Privacy policy
        li: a(href='#') Terms
    p.footer__copyright &copy; by Amit, 2024