doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel='shortcut icon', href='/img/favicon.png', type='image/png')
            link(rel='stylesheet', href='/css/style.css')
            title Natours | #{title}
            link(rel="stylesheet", href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css")
            script(src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js", defer)
            script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.js", integrity="sha512-luUnkeG+uabiT2pZdi5ME5uADvq+FpDs2fK5V0nVXrHCND9F077fKaE9W//oJvGnWSmwQmCau63A6s3um1NZmg==", crossorigin="anonymous", referrerpolicy="no-referrer")
        
    body
        // HEADER
        include _header

        // CONTENT
        block content
            
        


        // FOOTER
        include _footer

        script(src="/js/login.js" type="module")
        script(src="/js/maplibre.js" type="module")
        script(src="/js/index.js" type="module")
